<%-include('partials/header')%>
<%-include('partials/navbar')%>
<link rel="stylesheet" href="/css/estilo.css">
                    
</head>

<body>

<h1></h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">  

            <h2 class="text-center">Eliminar Publicación</h2>

            <form id="form-eliminar" action="#" data-id="<%= id %>">
                <p class="p-el">¿Estás seguro de que deseas eliminar esta publicación?</p>
                <button id="btn-eliminar" class="btn btn-danger w-50" type="submit">Eliminar</button>
            
            </form>

        </div>
    </div>
</div>
<script src="/js/eliminar-publicacion.js"></script>
<%-include('partials/footer')%>
