<%-include('partials/header')%>
<%-include('partials/navbar')%>
  
    <div class="container">
        
        <div class="row">
            <div class="col">
                <h1>Lista de Publicaciones</h1>


            </div>        
        </div>

        <div class="row">
            <div class="col">
                <main  class="gap-2 d-flex flex-column" id="lista-publicaciones">
                    <section>

                    </section>
                </main>


            </div>        
        </div>
    </div>
        
    <script src="/js/home.js"></script>    <!--atento a la direccion de donde viene-->

<%-include('partials/footer')%>